
.app {
  display: flex;
}

.product-list {
  flex: 3;
  background-color: #FAFAFA;
}

.product-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.product-details {
  flex: 2;
  background-color: #FAFAFA;
}

.product-price, .product-quantity, .product-total {
  flex: 1;
  text-align: center;
}

.product-quantity input {
  width: 40px;
  text-align: center;
}

.cart-summary {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ddd;
  text-align: center;
  background-color: #FAFAFA;
}

.cart-summary .total-amount {
  font-size: 1.5em;
  margin: 10px 0;
}

.cart-summary .order-now {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.home, .checkout-page {
  text-align: center;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.centered-image {
  width: 400px;
  height: auto;
}

.content, .checkout-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-list {
  flex: 3;
  margin-right: 20px;
}

.cart-summary {
  flex: 1;
  margin-left: 20px;
  text-align: left; 
}

